*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

 #content{
    max-width: 1080px; 
    margin: 0 auto;
 }
 header{
    background-color: #2081c3;
 }
 header img{
    width: 80px;
 }
 body{
    background-color: #78d5d7;
 }

 nav a{
    text-align: center;
    color: black;
    text-decoration: none;
 }

 #hero-msg h1, #hero-msg h4{
    text-align: center;
 }

 .button-box{
    text-align: center;
 }

 main section{
    text-align: center;
 }
.icon {
    width: 80px;
}
 #background {
    height: 725px;
    background-color: #2081c3;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}
footer{
    background-color: #2081c3;
}
.msg{
    background-color: #bed8d4;
}