*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.background_1{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images\background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

/* ----------------------START HEADER------------------------------- */
nav{
    display: flex;
    padding: 0% 3%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 200px;
}

.nav_links{
    flex: 1;
    text-align: right;
}

.nav_links ul li{
    list-style: none;
    display: inline-block;
    padding: 40px 40px;
    position: relative;
}

.nav_links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav_links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #7CFFCB;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav_links ul li:hover::after{
    width: 100%;
}

/* ----------------------END HEADER------------------------------- */

.content{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.content h1{
    font-size: 62px;
}

.content p{
    margin: 10px 0 40px;
    font-size: 31px;
}

.content button{
    font-size: 30px;
    padding: 15px 60px;
    text-transform: uppercase;
    border-radius: 32px;
}